/* header */
.logo{
	width: 150px;
	margin-left: 80px;
}
li{
	list-style: none;
}
.lista{
	text-decoration: none;
	float: left;
	color: #A7A5A5;
	font-size: 20px;
	margin-left: 60px;
	margin-top: 50px;
}
header{
	position: relative;
	z-index: 2;
	background-color: white;
}
/* fila 2 semilla */
.semilla{
	margin-bottom: -200px;
	margin-top: -150px;
	position: relative;
	z-index: 1;
}
.gris{
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: #EBE6E6;
	padding: 80px 290px;
}
.grisdos{
	text-align: center;
	color: gray;
}
/* fila 3 */
.grande{
	height: 150px;
	margin-top: 250px;
	margin-left: 225px;
	margin-bottom: 15px;
}
.gran {
	text-align: center;
}
.grandedos{
	text-align: center;
	margin: 10px 80px;
}
/* fila 4 */
.director{
	width: 105%;
	height:400px;
}
.verde{
	background-image: url(../img/fondo.jpg);
	height: 400px;
}
.met{
	margin-left: 260px;
	margin-top: 80px;
}
h3{
	padding-top: 60px;
}
.metp{
	text-align: center;
	color: white;
	margin-bottom: 20px;
}
/* 5*/
.ser{
	text-align: center;
	padding-right: 200px;
	padding-left: 200px;
}
/* fila 6 servicios*/
.ww{
	padding-right: 50px;
	padding-left: 50px;
}
.cir{
	margin: 0 0 15px 50px;
}
.cirdos{
	text-align: center;
	color:#6F9B83;
	font-size: 20px;
}
.dd{
	padding-right: 40px;
	padding-left: 40px;
}
.cirtres{
	text-align: center;
}
/*fila 7 proyectos*/
.qq{
	background-color: #5F9434;
	color: white;
}
.proy{
	text-align:center;
}
.kk{
	background-color: #5F9434;
}
.repetidas{
	width: 450px;
	margin-left: 150px;
	margin-bottom: 20px;
}
.uno{
	color:white;
	text-align: left;
}
.hh{
	padding-top: 0;
}
.rr{
	padding-top: 195px;
}